@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #2563EB;
    --color-secondary: #0F172A;
    --color-accent: #F59E0B;
}

@layer utilities {
    .bg-primary {
        background-color: var(--color-primary);
    }

    .text-primary {
        color: var(--color-primary);
    }

    .border-primary {
        border-color: var(--color-primary);
    }

    .bg-secondary {
        background-color: var(--color-secondary);
    }

    .text-secondary {
        color: var(--color-secondary);
    }

    .border-secondary {
        border-color: var(--color-secondary);
    }

    .bg-accent {
        background-color: var(--color-accent);
    }

    .text-accent {
        color: var(--color-accent);
    }

    .border-accent {
        border-color: var(--color-accent);
    }
}